<div class="sidebar">
  <div class="user-info">
    <div class="avatar"></div>
    <div class="user text-center"><a href="javascript:;">Admin</a></div>
  </div>
  <div class="sidebar-navs">
    <div class="nav-item">
      <a href="javascript:;" routerLink="/app/main" routerLinkActive="active"><i class="fa fa-home"></i>&nbsp;主页</a>
    </div>
    <div class="nav-item" *ngFor="let server of servers">
      <a href="javascript:;" [routerLink]="'/app/server/' + server.Id" routerLinkActive="active"
         title="{{server.Name}}">
        {{server.Name}}
      </a>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
