<div class="main-container">
  <div class="container-left">
    <div class="head">
      <h5 class="text-center">{{serverInfo.name}}</h5>
    </div>
    <div class="body">
      <div class="room" *ngFor="let room of rooms"
           (click)="connectTo(room)"
           [ngClass]="{'active': isInRoom(room)}">
        <span>{{room.name}}</span>
        <div class="room-users">

        </div>
      </div>
    </div>
  </div>
  <div class="container-right">
    <div class="messages" #messageContainer>
      <div *ngFor="let msg of messages">
        <div class="message">
          <div class="message-from">
            <span class="user">{{msg.from}}</span>
            <span class="time">{{msg.time|date: 'yyyy-MM-dd HH:mm:ss'}}</span>
          </div>
          <div class="message-content">
            {{msg.message}}
          </div>
        </div>
      </div>
    </div>
    <div class="input">
      <textarea placeholder="Input message" #inputMsg [disabled]="!connected"></textarea>
      <div class="buttons">
        <button type="button" class="btn btn-primary btn-sm float-right"
                [disabled]="!connected"
                (click)="sendMessage()">Send
        </button>
      </div>
    </div>
  </div>
</div>
